# Python
venv/*
*.pyc

# KiCAD
*.bak
*.kicad_pcb-bak
*.kicad_pro-bak
*.sch-bak
*.csv
*.tsv
*.xml

design/helios-light-controller/out/*
design/helios-light-controller/helios-light-controller-backups/*

test/*
